@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&family=Source+Code+Pro&display=swap');

#content {
max-width: 1600px;
margin: 0 auto;
}

#backround {
    height: 725px;
    background-color: #E59476;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#logo_link {
    padding-top: 5px;
}

body {
    background-color: #28666E;
    font-family: Londrina-Solid;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

header {
    background-color: #28666E;
}

main section {
    text-align: center;
}

h2 {
    margin: 0;
}
footer {
    background-color: #28666E;
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

footer h3 {
    color: #dabfff;
}

footer a {
    color: #E59476;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

nav a { 
    text-align: center;
    color: white;
    padding: 35px;
    text-decoration: none;
}
nav a:hover {
    background-color: #033F63;
    color: #E59476;
}

.home-title {
    color:white;
    font-family: Source-Code-Pro;
    font-size: 2em;
    margin-top: 10px;
}

.book, .join {
    background-color: #dabfff;
    color: #033F63;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #033F63;
    color: #dabfff;
}

.button-box {
    text-align: center;
}

.card-img {
    border: 10px solid black;
}

.icon {
    padding-top: 10px;
    width: 100px;
    height: 100px;
}

main section img {
    box-sizing: border-box;
}

.msg {
    background-color: #dabfff;
    font-size: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: white;
    
}

.msg p {
    color: #E59476;
    font-size: .8em;
    padding-bottom: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
